@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #23272A;
  
  /* Discord Colors */
  --blurple: #5865F2;
  --blurple-hover: #4752C4;
  --green: #57F287;
  --yellow: #FEE75C;
  --fuchsia: #EB459E;
  --red: #ED4245;
  
  --dark-bg: #36393F;
  --dark-sidebar: #2F3136;
  --dark-nav: #202225;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-blurple: var(--blurple);
  --color-blurple-hover: var(--blurple-hover);
  
  --color-discord-bg: var(--dark-bg);
  --color-discord-sidebar: var(--dark-sidebar);
  --color-discord-nav: var(--dark-nav);

  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --color-fuchsia: var(--fuchsia);
  --color-red: var(--red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #36393F;
    --foreground: #dcddde;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Hide Scrollbar completely */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

::selection {
  background-color: var(--blurple);
  color: white;
}

code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
